{% block cookie %}
    <div id="cookie" class="show">
        <p>
            By using this website you agree that we use cookies.<br>
            <a href="#privacy">More...</a>
            <a href="#" class="accept">Accept</a>
        </p>
    </div>
{% endblock %}
