<ul>
    {% for language  in languages %}
        <li>
            <a href="/{{ language.locale }}/{{ language.link }}" class="{{ (language.locale == locale) ? 'active' : '' }}">{{ language.language }}</a>
        </li>
    {% endfor %}
</ul>
