{% extends 'base.html.twig' %}

{% block title %}Welcome Cito{% endblock %}

{% block description %}This is our Cito Framework by Field Interactive.{% endblock %}

{% block canonical %}
    <link rel="canonical" href="/">
{% endblock %}

{% set body_id = 'id' %}
{% set body_class = 'class' %}

{% block body %}

	<h1>Willkommen im Cito Framework</h1>

{% endblock %}