{% extends 'base.html.twig' %}
{% block title %}404 - Seite nicht gefunden{% endblock %}
{% set body_id = 'pagenotfound' %}

{% block body %}

    <section>

        <h1>404 &mdash; Seite nicht gefunden</h1>

    </section>
    
{% endblock %}