<div class="wrap">

	<a id="logo" href="#" title="">
		<svg>
            <use xlink:href="#default-logo">
        </svg>
	</a>

	<a id="mobile-nav-trigger" href="#">
		<span class="mobile-nav-trigger-icon"></span>
	</a>
	
	<nav id="main-nav" class="fromTop">
		{{ navigation('partials/navigation.html.twig') }}
	</nav>

</div>