<!DOCTYPE html>
{# cito #}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noarchive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ asset('assets/build/main/css/default.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="{{ (body_class is defined) ? body_class : '' }}">
{% block body %}{% endblock %}
<script src="{{ asset('assets/build/main/js/default.js') }}"></script>
{% block javascripts %}{% endblock %}
<script type="application/javascript">
    if (location.protocol === 'https:' || location.hostname === "localhost" || location.hostname === "127.0.0.1") {
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./sw.js');
            });
        }
    }
</script>
</body>
</html>
